// Imports
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Styles
:host {
	max-height: calc(100% - #{$nav-link-height + ($navbar-padding-y * 2)});
	::ng-deep {
		.ng5-slider {
			.ng5-slider-bar {
				background-color: $light !important;
			}
			.ng5-slider-selection {
				background-color: $secondary !important;
			}
			.ng5-slider-pointer {
				background-color: $primary !important;
				&:after {
					display: none;
				}
			}
		}
	}
}
