<div class="row no-gutters w-100">
	<div class="col-8 h-100">
		<app-deformer
			class="d-flex position-relative h-100 align-items-center justify-content-center"
			[deformation]="deformation"
			*ngIf="deformation"
		></app-deformer>
	</div>
	<form class="col-4 h-100 card rounded-0 border-top-0 border-bottom-0 border-right-0" #form="ngForm" (ngSubmit)="save()">
		<div class="card-header">
			<div class="form-label-group m-0">
				<input
					id="name"
					class="form-control"
					type="text"
					name="name"
					placeholder="Name"
					required
					[ngClass]="{ 'is-invalid': (form.submitted && name.invalid) }"
					[(ngModel)]="formData.name"
					#name="ngModel"
				/>
				<label for="name">Name</label>
				<div class="invalid-feedback" *ngIf="form.submitted && name.invalid">
					<div *ngIf="name.errors['required']">Name is required</div>
				</div>
			</div>
		</div>
		<div class="card-body p-0 oy-auto">
			<ul class="list-group list-group-flush">
				<li class="list-group-item" ngbPopover="Test popover" placement="left" triggers="mouseenter:mouseleave">
					<ng5-slider [options]="sliderOptions" [(value)]="formData.data['0']"></ng5-slider>
				</li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['1']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['2']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['3']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['4']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['5']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['6']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['7']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['8']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['9']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['10']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['11']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['12']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['13']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['14']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['15']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['16']"></ng5-slider></li>
				<li class="list-group-item"><ng5-slider [options]="sliderOptions" [(value)]="formData.data['17']"></ng5-slider></li>
			</ul>
		</div>
		<div class="card-footer">
			<button class="btn btn-success btn-lg w-100" [ngClass]="{ 'disabled': !form.valid }">Save</button>
		</div>
	</form>
</div>
